.login-image-container {
  width: 50%;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/d9f707c2-191a-428e-a7e9-70ac688e993a-jpg-1624647059.jpg?crop=1.00xw:1.00xh;0,0&resize=980:*);
}
