.profile-dropdown {
  position: absolute;
  z-index: 1;
}

.hidden {
  display: none;
}

.navbar {
  width: 1025px;

  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 40px;
  padding-left: 40px;
}

.navbar-logo {
  font-size: 24px !important;
}

.navbar > a {
  color: #f2f0e3;
  text-decoration: none;
  font-size: 16px;
}

.profile-button {
  color: #f2f0e3;
  font-size: 16px;
}
