.profile-dropdown {
  position: absolute;
  z-index: 1;
}

.hidden {
  display: none;
}

.navbar {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 40px;
}

.navbar-logo {
  font-size: 30px !important;
}

.navbar-links {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: space-between;
}

.navbar a {
  color: #f2f0e3;
  font-size: 14px;
}

.profile-button {
  color: #f2f0e3;
  font-size: 14px;
}

.navbar-holder a {
  color: #05283a;
}

.navbar-holder .profile-button {
  color: #05283a;
}
