.propshow-background {
  background: rgb(149, 182, 135);
  background: linear-gradient(
    180deg,
    rgba(149, 182, 135, 1) 50%,
    rgba(156, 193, 140, 1) 50%
  );
  padding: 80px 150px 80px 150px;
}

.propshow-main {
  background-color: #f2f0e3;
  display: flex;
  width: 75%;
  margin: auto;
  position: relative;
}

.propshow-back-to-all {
  position: absolute;
  top: -50px;
}

.propshow-button-back-to-all {
  background-color: #f2f0e3;
  width: 200px;
  font-weight: 600;
  color: #20282b;
}

.propshow-image {
  width: 300px;
}

.propshow-text {
  margin-top: 60px;
  margin-left: 60px;
}

.propshow-name {
  font-size: 28px;
  font-family: 'Lalo';
  margin-bottom: 10px;
}

.propshow-price {
  margin-bottom: 10px;
  font-size: 18px;
}

.propshow-availability {
  margin-bottom: 40px;
}

.propshow-setlist {
  margin-top: 30px;
  margin-left: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

.propshow-select {
  margin-bottom: 10px;
}

.propshow-button {
  background-color: #6f985e;
  border-radius: 0;
  color: #f2f0e3;
  width: 200px;
  font-weight: 600;
}

.propshow-description {
  margin-top: 40px;
  margin-left: 300px;
  line-height: 2;
  margin-bottom: 20px;
}

.propshow-prophouse {
  margin-top: 20px;
  margin-left: 300px;
  margin-bottom: 20px;
}

.propshow-prophouse-link:hover {
  color: #6f985e;
  text-decoration: underline;
}
