.setlist-index-holder {
  margin: 80px 160px 80px 200px;
}

.setlist-index-title {
  display: flex;
}

.setlist-index-content {
  display: flex;
}

/* .setlist-name-holder {
}

.setlist-index-item {

} */

/* .setlist-index-content > * {
} */
